@charset "UTF-8";

html * {
	max-height: 1000000px
}

body {
	margin: 0
}

a:active,a:hover {
	outline: 0
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 0
}

@font-face {
	font-family: cate_icon;
	src: url(i/fonts/cate.eot?v1);
	src: url(i/fonts/cate.otf?v1)
}

@font-face {
	font-family: base_icon;
	src: url(i/fonts/base.eot);
	src: url(i/fonts/base.otf?v1)
}

@
-webkit-keyframes rotateing-anim { 0%{
	-webkit-transform: rotate(0deg)
}

100%{
-webkit-transform






:rotate(360deg)






}
}
@
keyframes rotateing-anim { 0%{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

100%{
-webkit-transform






:rotate(360deg)






;
transform






:rotate(360deg)






}
}
.text-icon {
	font-family: base_icon;
	display: inline-block;
	vertical-align: middle;
	font-style: normal
}

.loading-spin {
	opacity: .8;
	display: inline-block;
	border-radius: 50%;
	width: .25em;
	height: .25em;
	box-shadow: 0 -.4em 0 0 white, -.28em -.28em 0 0
		rgba(255, 255, 255, .75), -.4em 0 0 0 rgba(255, 255, 255, .5), -.28em
		.28em 0 0 rgba(255, 255, 255, .25);
	-webkit-animation: .85s rotateing-anim steps(8) infinite;
	animation: .85s rotateing-anim steps(8) infinite
}

.icon-refresh {
	height: 1em;
	position: relative
}

.icon-refresh:before {
	content: "";
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	border: .1em solid #999;
	border-top: .1em solid transparent;
	border-radius: 50%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	display: inline-block
}

.icon-refresh:after {
	content: "";
	position: absolute;
	border: .25em solid transparent;
	border-left: .25em solid #999;
	top: -.1em;
	left: .5em
}

.icon-downarrow {
	position: relative
}

.icon-downarrow:after {
	content: '';
	display: inline-block;
	position: relative;
	top: -.2em;
	width: .5em;
	height: .5em;
	border-bottom: .03rem solid #fff;
	border-left: .03rem solid #fff;
	-webkit-transform: scaleX(0.7) rotateZ(-45deg);
	-moz-transform: scaleX(0.7) rotateZ(-45deg);
	-ms-transform: scaleX(0.7) rotateZ(-45deg)
}

.icon-toggle-arrow {
	position: relative
}

.icon-toggle-arrow:after {
	content: '';
	display: inline-block;
	position: relative;
	top: -.2em;
	width: .5em;
	height: .5em;
	border-bottom: .03rem solid #C3C5C9;
	border-left: .03rem solid #C3C5C9;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg)
}

.toggle.active .icon-toggle-arrow:after {
	top: 0;
	-webkit-transform: rotateZ(135deg);
	-moz-transform: rotateZ(135deg);
	-ms-transform: rotateZ(135deg)
}

.text-icon.icon-back {
	width: .45rem;
	height: .45rem;
	vertical-align: middle;
	position: relative
}

.text-icon.icon-back:before {
	content: '';
	display: block;
	position: absolute;
	left: .07rem;
	top: 0;
	width: .4rem;
	height: .4rem;
	border-bottom: .04rem solid #fff;
	border-left: .04rem solid #fff;
	-webkit-transform: scaleY(0.7) rotateZ(45deg);
	-moz-transform: scaleY(0.7) rotateZ(45deg);
	-ms-transform: scaleY(0.7) rotateZ(45deg)
}

.text-icon.icon-back:after {
	content: '';
	display: block;
	position: absolute;
	top: .2rem;
	left: .03rem;
	border-top: .04rem solid #fff;
	height: 0;
	width: .45rem
}

.text-icon.icon-star:after {
	content: '★'
}

.text-icon.icon-star-empty:after {
	content: '☆'
}

.text-icon.icon-star-half {
	position: absolute;
	left: 0;
	width: .55em;
	overflow: hidden
}

.text-icon.icon-star-half:after {
	content: '★'
}

.text-icon.icon-star-gray {
	position: relative
}

.text-icon.icon-star-gray:after {
	color: #E2E2E2;
	content: '★'
}

.text-icon.icon-share:after {
	content: '⎋'
}

.navbar h1.nav-header {
	color: #fff;
	text-shadow: none
}

html {
	font-size: 312.5%;
	-webkit-tap-highlight-color: transparent;
	overflow-x: hidden;
	height: 100%;
	min-width: 320px;
	overflow-x: auto
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .28rem;
	line-height: 1;
	color: #333;
	background-color: #f0efed;
	overflow-x: hidden
}

input,button,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #2bb2a3;
	text-decoration: none;
	outline: 0
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

a.react {
	display: block;
	color: inherit;
	height: 100%
}

a.react:active,a.react.react-active {
	background: rgba(0, 0, 0, .1)
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

img {
	vertical-align: middle
}

hr {
	margin-top: .28rem;
	margin-bottom: .28rem;
	border: 0;
	border-top: 1px solid #eee
}

p {
	line-height: 1.41;
	text-align: justify;
	margin: 0
}

weak {
	color: #666
}

footer {
	
}

footer .btn {
	display: inline-block;
	margin: 0;
	text-align: center;
	height: .6rem;
	padding: 0 .32rem;
	border-radius: .06rem;
	color: #fff;
	border: 0;
	background-color: #2bb2a3;
	font-size: .28rem;
	vertical-align: middle;
	line-height: .6rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-user-select: none
}

footer .btn-block {
	display: block;
	width: 100%
}

footer .btn:active {
	background-color: #21897d
}

footer .btn-weak {
	border: .02rem solid #2bb2a3;
	padding: 0 .3rem;
	background: 0;
	color: #2bb2a3
}

footer .btn-weak:active {
	color: #fff;
	background: #2bb2a3
}

footer .btn-strong {
	background-color: #fdb338
}

footer .btn-strong:active {
	background-color: #fca006
}

footer .btn-warning {
	background-color: #fa7251
}

footer .btn-warning:active {
	background-color: #f94a1f
}

footer .btn:disabled,footer .btn.btn-disabled {
	background-color: #dcdcdc;
	color: #999
}

footer .btn-weak.btn:disabled,footer .btn-weak.btn-disabled {
	color: #999;
	border-color: #999;
	background: 0
}
.nav-wrap-left {
	position: absolute;
	left: 0;
	top: 0;
	height: 1.01rem
}

.nav-wrap-left a.back {
	height: 1rem;
	width: .45rem;
	line-height: 1rem;
	padding: 0 .3rem
}

a.brand {
	padding-left: .2rem;
	padding-right: .14rem;
	line-height: 1rem;
	display: inline-block;
	text-align: center
}

a.brand .logo {
	line-height: 1;
	display: inline-block;
	vertical-align: middle
}

a.brand img {
	border: 0;
	width: .88rem;
	height: .42rem
}

a.brand .qqbrand {
	font-size: .18rem;
	margin-top: .12rem;
	display: none
}

#header_qq a.brand .qqbrand {
	display: block
}

h1.nav-header {
	font-size: .36rem;
	font-weight: lighter;
	text-align: center;
	line-height: 1rem;
	margin: 0
}

.navbar .nav-city {
	display: inline-block;
	vertical-align: text-top
}

.navbar .nav-city a {
	padding: .1rem 0
}

.navbar .nav-wrap-right {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%
}

.nav-wrap-right a {
	display: inline-block;
	height: 100%;
	line-height: 1rem;
	text-align: center;
	width: .94rem
}

.nav-wrap-right a:last-child {
	margin-right: .04rem
}

.nav-btn {
	display: inline-block;
	font-size: .2rem;
	line-height: 1;
	vertical-align: middle
}

.nav-btn .text-icon {
	display: block;
	margin: auto;
	margin-bottom: .12rem;
	font-size: .4rem
}


.nav-dropdown .text-icon {
	font-size: .34rem
}

footer {
	padding: .3rem .2rem .4rem;
	background-color: #f0efed
}

.footer-bar {
	font-size: .28rem;
	margin-bottom: .4rem
}

.footer-nav {
	margin-bottom: .18rem
}

.footer-nav ul {
	margin: 0;
	padding: .18rem 0;
	font-size: .24rem;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox
}

.footer-nav li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-moz-box-flex: 1;
	border-right: .02rem solid #666;
	text-align: center
}

.footer-nav li>a {
	color: #2bb2a3
}

.footer-nav li:last-child {
	border-right: 0
}

.footer-links {
	font-size: .24rem;
	margin: .3rem .2rem;
	text-align: center
}

.footer-links a+a {
	padding-left: .5rem
}

.footer-copyright {
	font-size: .22rem;
	text-align: center;
	position: relative
}

.footer-copyright .hr {
	display: block;
	content: "";
	width: 100%;
	position: absolute;
	top: 50%;
	border-top: 1px solid #999
}

.footer-copyright a {
	text-decoration: none;
	color: #999
}

.footer-copyright {
	color: #999
}

.footer-copyright-text {
	position: relative;
	padding: 0 .3rem;
	background-color: #f0efed
}

.footer-citybtn {
	width: 1.8rem
}

body {
	line-height: 1.5
}

footer .btn {
	background-image: none !important
}

footer .btn-blogin:hover {
	background-color: #2bb2a3
}

.icon-back {
	background-image: none
}

p {
	line-height: inherit;
	text-align: inherit
}

footer a {
	color: #2bb2a3
}

.pull-right {
	float: right
}

space {
	display: inline-block;
	width: .12rem
}

.i2app-pop .btn {
	background: 0;
	border: .02rem solid #2bb2a3;
	color: #2bb2a3
}

.collection-list,.body,.refund-help,.client,.merchant-deals,.sub-topic {
	background: #fff
}

.sub-item .item-label {
	padding-left: 6px
}

#details {
	background: #fff
}

.pageinator .btn-page {
	padding: .5em 1.5em
}