@CHARSET "UTF-8";


.home_head{
	background: rgba(23, 119, 196, 0.9);
}
.home_head h1,.home_head p{
	color: #fff;
}

.mb70{
	padding-bottom: 53px;
}
.hh_user img{
	width: 30px;
}
.hh_point{
	position: absolute;
	border-radius: 50%;
	width: 30px;
	text-align: center;
	display: inline-block;
	right: 17px;
	top: 11px;
	width: 8px;	
}
.home_right{
	position: fixed;	
	background: #222;	
	width: 210px;
	height: 100%;	
	top: 0;
	right: 0;
	z-index: 20000;	
	-webkit-transform: translate3d(100%,0,0);
	-webkit-transition: all .3s;	
}
.home_right.show{
	-webkit-transform: translate3d(0,0,0);
}
.hr_head{
	padding: 25px 20px 40px;
	text-align: center;
}
.hr_head p{
	color: #fff;	
	font-size: 15px;
}
.hr_head a{
	color: #fff;
	font-size: 17px;
	margin: 0 10px;
}
.hr_list{
	padding: 0 15px;
}
.hr_list li{
	float: left;
	width: 50%;
	text-align: center;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
}
.hr_item img{
	width: 40px;
	height: 40px;	
}
.hr_item p{
	font-size: 14px;
	color: #fff;
	margin: 3px 0 25px;
}
.hr_item h1{
	position: relative;	
	width: 50px;
	height: 50px;
	margin: 0 auto;	
}
.hr_item h1 span{
	position: absolute;
	background: red;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 22px;
	color: #fff;
	font-weight: 400;
	font-size: .7em;
	top: -5px;
	right: -5px;
}
.hr_out p{
	color: red;
}
.hr_foot{
	text-align: center;
}
.hr_foot a{
	display: inline-block;
	width: 160px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	background: #666;
}

.home_search{
	padding: 20px 0 22px;
}
.home_search .search_cen{
	margin: 0 4%;
}
.home_nav{
	background: #fff;	
	border-bottom: 12px solid #ccc;	
}
.home_nav:after{
	content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.home_nav li{
	width: 25%;
	float: left;
	text-align: center;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
}
.home_nav_item h1{
	position: relative;	
	width: 70%;	
	margin: 0 auto;
}
.home_nav_item span{
	position: absolute;	
	width: 20px;
	height: 20px;
	line-height: 22px;	
	color: #fff;
	background: red;
	text-align: center;
	font-size: .5em;	
	border-radius: 50%;
	top: -5px;
	right: -5px;
}
.home_nav_item img{
	width: 100%;
	border-radius: 10px;
}
.home_nav_item img.home1{
	width: 70%;
	padding: 15%;
	background: #e04e4e;
}
.home_nav_item p{
	font-size: 14px;
	height: 20px;
	margin: 3px 0 15px;	
	overflow: hidden;
}

.homelist2{
	border-bottom: 11px solid #ccc;
}
.homelist2 .hl_info{
	position: relative;	
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #ccc;
	margin: 0;	
}
.homelist2 .hl_info img.home10{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	position: absolute;
	right: 10px;
	top: 29px;
}
.homelist2 .hl_info span.hl_num{
	width: 20px;
	height: 20px;	
	line-height: 22px;	
	color: #fff;
	background: red;
	text-align: center;	
	position: absolute;
	left: 50px;
	top: 5px;	
	font-size: .7em;	
	border-radius: 50%;	
}

/* 详情名片 */
/* 
.mycard{
	border-top: 10px solid #ccc;
}
.mycard td{
	font-size: 15px;	
	padding: 13px 0 13px 10px;
	border-bottom: 1px solid #ccc;
}
.mycard_t1 h1{
	font-size: 15px;
	color: #f60;
	margin: 0;
}
.mycard_t1 p{
	line-height: 20px;
}
.follow3{
	text-align: right;	
}
td.mycard_t2{
	padding: 8px;
	text-align: center;	
}
.mycard_t2 a{
	display: inline-block;
	text-align: center;
	width: 144px;
	padding: 7px 0;
	color: #fff;
	background: #04bd07;
	border-radius: 5px;
	font-size: 14px;
} */

/* 我的空间 */
.zone_head{
	padding-top: 0;
	background: #ff6d01 url(../../img/img01/u2.png) no-repeat 0 bottom;
	background-size: 100%;
}
.zone_head h1{
	color: #fff;
}
.zone_bg{
	z-index: 1;
	bottom: -5px; 
}
.zone_bg img{
	width: 100%;
}
.hh_back img{
	height: 30px;	
}
.hh_back{
	position: absolute;
	border-radius: 50%;
	width: 30px;
	text-align: left;
	height: 30px;
	line-height: 30px;	
	display: inline-block;
	left: 10px;
	top: 12px;
}
.hh_share{
	top: 12px;
}
.hh_title{
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
	width: 100px;
	margin: 0 auto 25px;
	z-index: 2;	
}
.zonelist{
	padding: 10px 5px;
	overflow: hidden;	
}
.zonelist .picl_foot{
	text-align: center;	
	font-weight: 700;
	font-size: 14px;
	color: #555;
}
/* .zonelist li{
	float: left;
	width: 50%;
}
.zonel_cen{
	border-radius: 5px;
	margin: 10px 10px 2px 10px;
	border: 1px solid #ccc; 
	box-shadow: 1px 1px 3px #ccc;	
}
.zonel_head {
	position: relative;
	height: auto;
	max-height: 150px;
	overflow: hidden;
}
.zonel_head p {
	text-align: center;
	padding: 5px 5px 0 5px;
	height: 100%;
}
.zonel_head p img {
	width: 100%;
	height: auto;
}
.zonel_foot {
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;	
} */

/* 留言 */
.msg_foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 10px 0;
	overflow: hidden;
	border-top: 1px solid #ccc;
	background: #fff;
	z-index: 99;
}
.msg_foot.focus{
	position: static;	
}
.msg_fcon{
	margin: 0 10px;	
	height: 40px;	
	overflow: hidden;	
}
.msg_inp{
	float: left;
	width: 78%;
}
.msg_btn{
	float: right;
	width: 19%;
}
#msg{
	width: 94%;
	font-size: 14px;
	height: 20px;
	line-height: 20px;	
	padding: 8px 3%;
	outline: none;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
#msg.fail{
	border: 1px solid #ff8b26;	
}
#send{
	width: 100%;
	height: 38px;
	line-height: 38px;
	color: #fff;
	background: #ff8b26;
	font-size: 15px;
	border: 1px solid #ff8b26;
	border-radius: 5px;	
}
.msg_main{
	padding: 15px 5px 0;
	overflow-y: scroll;
}
.msg_item{
	width: 88%;	
	margin-bottom: 30px;
}
.msg_item td{
	vertical-align: top;
}
.msg_item:after{
	content: " "; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.msg_right{
	float: right;
}
.msg_rlogo{
	width: 50px;
	padding-left: 5px;
}
.msg_llogo{
	width: 50px;	
	padding-right: 5px;	
}
.msg_llogo img,.msg_rlogo img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.msg_rtext p{
	text-align: right;
	padding-right: 2px;
}
.msg_ltext p{
	padding-left: 2px;	
}
.msg_rdetail{
	padding: 8px;	
	margin-top: 2px;
	line-height: 25px;
	border-radius: 5px;	
	background: #ffcc99;
	font-size: 15px;
}
.msg_ldetail{
	padding: 8px;	
	margin-top: 2px;		
	line-height: 25px;
	border-radius: 5px;	
	background: #00cc66;
	color: #fff;
	font-size: 15px;	
}
.msg_mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10000;
}
.menu_mask{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	z-index: 10000;	
}
.msg_box{
	position: fixed;	
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -130px;
	background: #fff;
	border-radius: 5px;
	width: 230px;
	padding: 15px;
	z-index: 20000;
}
.msg_box1{
	margin-bottom: 10px;
}
.msg_box1 input{
	font-size: 15px;
	width: 96%;	
	border: 1px solid #ccc;
	border-radius: 5px;	
	padding: 8px 2%;	
}
.msg_box1 p{
	margin-top: 2px;
}
.msg_box3{
	text-align: center;
}
#msg_submit{
	width: 100px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	background: #f60;
	border-radius: 5px;	
	font-size: 15px;
	letter-spacing: 3px;
	margin-left: 5px;
}
#msg_back{
	width: 100px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	background: #999;
	border-radius: 5px;	
	font-size: 15px;
	letter-spacing: 3px;
}
.msg_fail{
	color: red;
	display: none;
}

/* 活动报名 */
#do_action{
	height: auto;
}
.action_table .ltd{
	vertical-align: top;
	padding-top: 10px;
}
/* 活动列表 */
.elist2{
	background: #ccc;
	padding: 12px 10px 1px;	
}
.elist2 li{
	border-radius: 5px;
	box-shadow: 0 1px 1px #999;	
	background: #fff;
	margin-bottom: 12px;
	overflow: hidden;
}

/* 搜索选项 */
.search_sel{
	width: 25%;
	display: inline;
	float: left;
}
.search_sel select{
	width: 93%;
	height: 40px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: none;
}

/* 团队主页 */
.comp_head{
	background: #fff;
}
.team_nav{
	background: #fff;
	overflow: hidden;
	padding-top: 11px;
}
.team_nav li{
	float: left;
	width: 25%;
	text-align: center; 
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
}
.team_nav_item h1{
	position: relative;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.team_nav_item img {
	width: 100%;
}
.team_nav_item p {
	font-size: 14px;
	height: 20px;
	margin: 3px 0 13px;
	overflow: hidden;
}

/* 团队首页 */
.team_list{
	padding: 0 4px 4px;
	overflow: hidden;
}
.tl_block{
	float: left;	
	width: 50%;	
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
}
.tl_bar{
	margin: 0 4px;	
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
}
.team_list a.tl3{
	display: block;	
	width: 100%;
	margin: 0 0 8px;
	padding: 10px 0;	
}
.tl1{
	background: #cc3333;
}
.tl2{
	background: #e65c28;
}
.tl3{
	background: #36a95f;
}
.tl4{
	background: #13b5b1;
}
.tl5{
	background: #3fd086;
}
.tl{
	padding: 7px 0;
	height: 125px;
	margin: 0 4px 8px;
}
.tl h1{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding-left: 10px;
}
.tl h2{
	margin: 10px 0;
	text-align: center;
}
.tl h2 img{
	width: 60px;
	height: 60px;
}
.tl p{
	color: #fff;
	padding: 0 10px;	
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;	
}

.tl3{
	margin: 0 10px;
}
.tl3 .td1{
	width: 50px;
	padding-right: 10px;
}
.tl3 .td3 span{
	float: right;
	color: #fff;
	background: #cc3333;	
	padding: 3px 7px;
	border-radius: 10px;
}
.tl3 h3 img{
	width: 50px;
	height: 50px;	
}
.tl3 h4{
	color: #fff;
	font-size: 16px;
	height: 30px;
	line-height: 30px;	
	font-weight: 400;	
}
.tl3 h5{
	color: #fff;
	height: 20px;
	line-height: 20px;
	font-weight: 400;	
	font-size: 12px;	
}

/* 课程表 */
.prestudy{
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 90%;	
	padding: 15px 5%;	
	z-index: 20000;
}
.prestudy h1{
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 15px;
}
.prestudy h2{
	text-align: center;
	font-weight: 400;
	padding-top: 10px;	
}
.prestudy h2 a{
	color: #333;
}

/* 团队介绍没数据 */
.comp_nodata{
	background: #fff;
	border-bottom: 10px solid #ccc;
}
.comp_nodata .hl_info{
	box-shadow: none;
	margin: 0;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
}
.comp_nodata .hl_info img{
	border-radius: 25px;	
}

/* 个人付费版2014.12.11 */
.ppay_nav a{
	display: inline-block;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
}
.ppay_nav td{
	background: #fff;	
	text-align: center;
	border-left: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;	
}
.ppay_nav td h1{
	height: 38px;	
	margin: 0 auto;
	padding: 26px 0 6px;
}
.ppay_nav td h1 span{
	display: inline-block;
	border-radius: 50%;
	width: 55px;
	height: 55px;	
	border: 2px solid #7acbf7;	
	margin-top: -25px;	
	overflow: hidden;
}
.ppay_face{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.ppay_nav td p{
	width: 100px;
	text-align: center;
	margin: 0 auto;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 团队版分享宝入口2014.12.12 */
.header{
	position: relative;
}
.spay_menu{
	display: none;
	position: absolute;
	right: 7px;
	top: 48px;
	z-index: 11111;
	background: #494e52;
	border-radius: 5px;
}
.spay_menu:before{
	position: absolute;
	top: -6px;
	right: 11px;	
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #494e52;
	border-left: 6px solid transparent;
	content: '';
}
.spay_menu a,.user{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
}
.spay_menu a{
	color: #eee;
}
.spay_menu li{
	height: 40px;
	line-height: 40px;
	color: #eee; 
	padding-left: 38px;
	font-size: 15px;
	border-top: 1px solid #8c8c8c;
	width: 110px;
}

